/*
 any custom css can be input here to prevent any css edit missing when version updates to themes
 to effective overide some css used #custom first id hack

 sample:
 #custom .myclass {}  or used !important for better css hack overide

 sample
 #custom .myclass {
 color: #fff !important;
 size: 14px !important;
 }

 try not to touch the css from other stylesheet for better and easy updates.
*/


.groups #sidebar-column {background: #FFFFFF; width: 260px; float: left; padding: 15px;}
.groups #content {
	float: right;
}
.group-sidebar{
	width: 120px !important;
}
.group-content{
	width: 800px !important;
}

/*
.group-padder {
	width: 750px !important;
	background: black;
}
*/
#top-header .navigation {
	margin-top: -35px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border: 1px solid #d3ecff;
	background: #d3ecff url(../images/bgnav.jpg) repeat-x top left !important;
}

#top-header .top-h {
	background: url(../images/headerbg.png) no-repeat top right;
	height: 120px;
}
.navigation ul li a {
	color: #134062;
}
.navigation ul li a:hover {
	color: #65b0e9;
}
#footer {
	background: #d3ecff;
	color: #134062;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-border-radius:4px;
	border: 1px solid #d3ecff;
}
#footer a {	
	color: #134062;
}


#sidebar-column {
border-radius:4px;
	
}
.home-page #sidebar-column .widget {
	border: 1px solid #cedeeb;
	margin-top: 10px;
	padding: 4px;
	background: #e8f4fe;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#sidebar-column .widget-content #groups-list {
display: block;
}
#sidebar-column .widget-content{
	background: #fff;
	padding: 8px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin-bottom: 5px;
}
.home-page #sidebar-column #groups-list ul li {
	display: block;
}
#sidebar-column .widgettitle {
	
}
.bpside.home ul li {
	float: none;
	padding-bottom: 20px;
}

.group-documents-recent a.doctitle {
	font-size: 14px !important;
	display: block;
}
ul.group-documents-recent li {
	border-bottom: 1px dotted #ccc;
}

.widget_categoryposts a.post-title {
	font-size: 14px;
}
.event a {
	font-size: 14px;
}

#slider-wrapper {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}