/*
 any custom css can be input here to prevent any css edit missing when version updates to themes
 to effective overide some css used #custom first id hack

 sample:
 #custom .myclass {}  or used !important for better css hack overide

 sample
 #custom .myclass {
 color: #fff !important;
 size: 14px !important;
 }

 try not to touch the css from other stylesheet for better and easy updates.
*/


.groups #sidebar-column {background: #FFFFFF; width: 260px; float: left; padding: 15px;}
.groups #content {
	float: right;
}
.group-sidebar{
	width: 120px !important;
}
.group-content{
	width: 800px !important;
}

.group-padder {
	width: 750px !important;
	background: black;
}